$white-border: #c5c5c5;
$indigo: #3f51b5;
$teal: #2bbbad;
$amber: #ffa000;
$deep-purple: #512da8;
$pinkish-purple: #aa66cc;
$cyan: #00bcd4;
$info: #33b5e5;
$medium-grey: #59698D;
$charcoal: #2E2E2E;
$light-blue: #82B1FF;
$purple: #8e24aa;
$pink: #ec407a;
$dark-green: #388E3C;
$light-orange: #ff7043;
$dark-purple: #880e4f;
$submit-blue: #4285F4;
$lighter-red: #dc3545;
$red: #D32F2F;

$nowPlayingThemeGradient: radial-gradient(ellipse at center, rgba(11,15,18,0.5) 0%, rgba(46,46,46,1000) 100%);