@mixin genre-button-color($baseColor) {
    background-color: $baseColor;
    color: white;
    width: 20%;
    box-sizing: border-box;

    &:hover {
        background-color: lighten($baseColor, 7%);
        color: white;
    }

    &:focus {
        box-shadow: none;
    }
}