@import '../stylesheets/colors.scss';
@import '../stylesheets/mixin.scss';

// Landing Page

//Projector
.projector-container {
    float: right;
    width: 50%;
    margin-right: 20px;
    object-fit: contain;
    text-align: center;
}

.projector-display img {
	height: 100%;
	width: 100%;
	border: 1px solid white;
}

.projector-text {
	text-align: center;
	font-family: 'Righteous', cursive;
}

.testbox {
    background: $nowPlayingThemeGradient;
    height: 100px;;
    width: 100%;
}

//Genre Selection

.genre-selector-container {
    clear:both;
    background: $nowPlayingThemeGradient;
    border-top: 1px $white-border solid;
    border-bottom: 1px $white-border solid;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    .h2 {
        text-align: center;
    }
}

.genre-buttons-container {
    display: flex;
    justify-content: space-evenly;
}

.genre-container-title {
    text-align: center;
    margin-top: 15px;
}

//buttons_colors
.btn-light-red {
    @include genre-button-color($lighter-red);
}

.btn-indigo {
    @include genre-button-color($indigo);
}

.btn-teal {
    @include genre-button-color($teal);
}

.btn-amber {
    @include genre-button-color($amber);
}

.btn-submit-blue {
    @include genre-button-color($submit-blue);
}

.btn-red {
    @include genre-button-color($red);
}

//submit buttons
.submit-buttons-container {
    display: flex;
    justify-content: space-evenly;
}